In [2]:
import pandas

In [3]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]])

In [4]:
df1

    0   1   2
0   2   4   6
1  10  20  30

In [5]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]], columns=["Price","Age","Value"])

In [6]:
df1

   Price  Age  Value
0      2    4      6
1     10   20     30

In [7]:
df2 = pandas.DataFrame([{"Name":"Jon"},{"Name":"Jack"}])
print(df2)

   Name
0   Jon
1  Jack